@import 'reset.css';
@import 'vars.css';

html {
  background-color: var(--bg-color);
}

section {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/img/scn1_background.jpg);
  background-repeat: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: rgba(255, 255, 255, .7);
  z-index: 3;
  font-size: 4rem;
}

.button {
  padding: 1rem 2rem;
  font-family: Cardinal;
  font-size: 2.5rem;
  background-color: black;
  border: none;
  color: rgba(255, 255, 255, .7);
}
